<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Reclamos</h3>
 
  <%= f.fields_for :claims do | claim | %>
    <div class="claims_field">
      <div class="fields">
        <%= claim.label :title, "Subject" %><br>
        <%= claim.text_field :content %>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :company_title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :company_content %>
  </div>
  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
